header h1{
    color: steelblue;
}

nav ul {
   padding: 0; 
}
nav ul li {
    float: left;
    list-style-type: none;
}

nav ul li a {
    display: block;
    padding: .5rem 1rem;
    background-color: lightsteelblue;
}

main h1 {
    clear: both;
}

main img {
    float: right;
    padding: 1rem;
    padding-top: 0;
}

footer {
    text-align: center;
    clear: both;
}