/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav {
	background-color:$menuColor;

	// new stuff
	ul {
		margin-left: 2%;
		
	}
	ul li {float: left;}
	ul li a { 
		display: block;
		border:none; // undo small screen
		width: 100%;
		background: none;
		font-size: .9rem;
		padding: .9rem 1.2rem;
		text-decoration: none;
		/*transition*/
		-webkit-transition: background 0.3s linear; 
		transition: background 0.3s linear;
	}
	ul li a:hover {background-color: rgba(255, 255, 255, 0.2);
	}
    
    #primaryNav li.parent > a:after {
        font-size: .75rem;
		content: "\00A0\00A0\25BC";
	}
	
	#primaryNav li ul {
		display: none;
		padding: 0;
	}

 	ul li:hover ul { /* this displays the menus as drop downs  */
		left: auto;
		margin-left: 0;
	}
	nav ul li ul li {
        float: none;

    }

    ul li ul {
        z-index:99;
		position: absolute;
		background-color: lighten($menuColor, 10%);
		left: -999rem; /* pushes the menu way off to the side */
		width: 10rem; 
	}

	
} // end nav


/*----------- MAIN --------------*/



/*----------- FORM --------------*/

form label.sbs {
    padding: .4rem 0%;
}

/*----------- FOOTER --------------*/
    
} /* end of media query */