/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Antonio', sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: lighten($color: $menuColor, $amount: 15%);
}
header h1 {margin: 0; display: block; color: $menuTextColor;}
header img {
    display: block;
    float: left;
    margin: 0 2% 0 0;
}

/*----------- NAVIGATION --------------*/
nav {
        width: 100%;
        height: auto;
        background-color: $menuColor;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#hamburgerBtn {
    display: block;
    margin: 0 2%;
		width: 6rem;
        height: 2.5rem;
        background: rgba(0,0,0,.1);
        color: $menuTextColor;
        border: 1px solid $menuTextColor;
        border-radius: 10px;
        font-weight: normal;
        text-align: center;
        i {
            font-size: 1.3rem; font-style: normal;
        }
}

#primaryNav {
    height: 0;
    overflow: hidden;
    background-color: $menuColor;
    margin: 0;
    padding: 0;
    z-index: 998;
    float: none;
}

#primaryNav.open {
    height: auto;
    margin: 1rem 2%;
    
}

a{
    color: $menuTextColor;
}

#primaryNav li {
    text-align: center;
    padding: 1rem;
}

#primaryNav li.active {
    background-color: darken($color: $menuColor, $amount: 10%);
}

#primaryNav li:hover {
    background: rgba(255, 255, 255, 0.5);
}

#primaryNav li ul {
    display: none;
    background-color: darken($color: $menuColor, $amount: 10%);
    padding: 0;
    float: none;
    width: 100%;
    list-style-type: none;
}

#primaryNav.open ul li {
    width: 100%;
    padding: .5rem;
}

#primaryNav.open ul li:hover{
    background: rgba(255, 255, 255, 0.5);
}

#primaryNav li ul li a {
    width: 100%;
    padding: .5rem;
}

li a {
    text-decoration: none;
    width: 100vw;
}

#primaryNav li ul a {
    font-size: 12px;
    font-weight: normal;
}

#primaryNav li:hover ul {
    display: block;
    width: 100%;
}

nav ul li ul {
    margin: .5rem 0;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

/*----------- FORM --------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid $menuTextColor;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend{
    color: rgba(0, 0, 0, 0.7);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: rgba(0,0,0,0.5);
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    padding: .75rem;
    color: rgba(0,0,0,.5);
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0%;
    color: rgba(0,0,0,.7);
}

form label.sbs input[type=radio] {
    width: 1.5em;
    height: 1rem;
    vertical-align: middle;

}

form input.submitBtn {
    border: none;
    color: darken($color: $menuTextColor, $amount: 10%) ;
    background-color: $primaryColor;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-family: 'Antonio', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/*----------- FOOTER --------------*/
footer {
    background-color: lighten($color: $menuColor, $amount: 15%);
    padding: .5rem 2%;
    text-align: center;
    color: $menuTextColor;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}