/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    nav {
background: #ef2f2f;
background: -moz-linear-gradient(top,  #ef2f2f 0%, #aa0000 100%);
background: -webkit-linear-gradient(top,  #ef2f2f 0%,#aa0000 100%);
background: linear-gradient(to bottom,  #ef2f2f 0%,#aa0000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef2f2f', endColorstr='#aa0000',GradientType=0 );

    }
    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul {
        
        margin-left: 2%;
    }

    nav ul li {
        float: left;
        
    }

    nav ul li a {
        border: none;
        padding: .8rem 1rem;
    }

    nav ul li a.active {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    div.storyGrid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.storyGrid span {
        font-size: 1rem;
    }

    div.storyGrid .lead {
        grid-column: 1 / span 3;
    }

} /*end medium */