header, nav, main, div.card, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper {
        background-image: url(../images/headerimage-large.jpg);
        height: 400px;
        background-size: cover;
        background-position: center top;
    }



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main div.card {
        flex-basis: 31%;
}


/*----------- FOOTER --------------*/
    
