header, nav, main, div.card, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
/*div#headerWrapper {
        background-color: #555;
    }*/



/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/
main{
        .blog {
                margin: 0;
        }

@for $i from 0 through 12 {
        $w:($i / 12) * 100%;
        .large-#{$i}{flex-basis: $w;}
    }
}

/*----------- FOOTER --------------*/
    
