header, nav, main, div.card, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper {
        background-color: #555;
    }



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main div.card {
        flex-basis: 31%;
}


/*----------- FOOTER --------------*/
    
