
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
/*div#headerWrapper {
    background-color: #555;
}*/




/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/

main div.card {
    flex-basis: 48%;
}

/*----------- FOOTER --------------*/
    
footer {
    a {
        padding: 0 2%;
    }
}