
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
/*div#headerWrapper {
    background-color: #555;
}*/




/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/

@for $i from 1 to 12 {
    $w:($i / 12) * 100%;
    .medium-#{$i}{flex-basis: $w;}
}
/*----------- FOOTER --------------*/
    
footer {
    a {
        padding: 0 2%;
    }
}