/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'EB Garamond', serif;
}



/*----------- HEADER --------------*/
div#headerWrapper {
    border-top: 7px #A15E15 solid;
    background-color: #522A00;
}

header {
    padding: .5rem 2%;
    
}
header h1 {margin: 0; color: #fce9cf;}
header h2 {margin: 0; font-weight: normal; color: #fce9cf;}
input.search {float: right; margin: .5rem 0 0 0;}
/*----------- NAVIGATION --------------*/
/*div#navWrapper {
    background-color: #A15E15;
    // max-width: 75rem;
}*/

// nav {
    
// }

nav {background-color: #A15E15;}
nav a:hover {background-color: #fce9cf;}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


nav ul li a {
    display: block;
    background-color: #A15E15;
    color: #fce9cf;
    padding: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #ffcf9d;
    color: #111;
}
nav ul li.active a {
    background-color: #ffcf9d;
    color: #111;
}


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    
    div.flexed {
        display: flex;
        flex-wrap: wrap;
    }
    .column {
        padding: 0 $gutter;
    }
    
    @for $i from 0 through 12 {
        $w:($i / 12) * 100%;
        .small-#{$i} {flex-basis: $w;}
    }

    button {
        display: block;
        background-color: #522A00;
        color: #fce9cf;
        padding: .5rem;
        margin-bottom: .5rem;
        text-decoration: none;
        border: 1px #A15E15 solid;
        border-radius: $cbr;
        width: 100%
    }
    button:hover {
        background-color: lighten(#522A00, 10%);
    }
    button.cta {
        margin: .5rem 0;
        border-radius: 0;
        padding: 1.5rem;
    }
    
    div.card1 {
        margin: 1rem 0;
        border: 1px solid #522A00;
        background-color: #fce9cf;
        section {
            background-color: #fce9cf;
            border-bottom: 2px solid #522A00;
            color: #111;
            padding: 1rem 0;
            text-align: center; 
        }//end of section
        img {
            width: 100%;
        }
        
    }//end of card

    img {
        width: 100%;
        padding-top: .5rem;
    }
    
    .end {
            // border: 1px #A15E15 solid;
            margin-top: .5rem;
            margin-bottom: .5rem;
            padding-bottom: .5rem;
            background-color: lighten($color: #fce9cf, $amount: 5%) ;
    }

    .blog {
        margin-top: .5rem;
        background-color: #fce9cf;
        
        h2{
            margin-top: 0;
        }
        button{
            background-color: #ffcf9d;
            color: #522A00;
            border-radius: 0;
            border: none;
        }
    }

    a{
        text-decoration: none;
        color: #522A00;
    }
}


/*----------- FOOTER --------------*/
div#footerWrapper {
     background-color: #fce9cf;
     border-top: 2px #522A00 solid;
}

footer {
    padding: .5rem 2%;
    text-align: center;

    a {
        text-decoration: none;
        font-size: 2rem;
        padding: 0 8%;
        color: #A15E15;
    }
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}