/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Bitter', serif;
}


/*----------- HEADER --------------*/
div#headerWrapper {
    background-color: #ddd;
    background-image: url(../images/headerimage-small.jpg);
    height: 140px;
}

header {
    padding: .5rem 2%;
    
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal; color: #eee;}

/*----------- NAVIGATION --------------*/
div#navWrapper {
    background-color: #bbbbbb;

}

// nav {
    
// }

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: #bbbbbb;
    color: #111;
    border-left: 1px solid #777777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    
    $cbr: 10px;

    div.cardDeck {
        display: flex;
        flex-wrap: wrap;
    } //end of cardDeck

    div.card {
        margin: 1rem 1%;
        
        flex-basis: 100%;
        

        border: 1px solid #999;
        background-color: #ccc;
        border-radius: $cbr;
        
        
        section {
            background-color: #c1c1c1;
            border-bottom: 2px solid #777;
            color: #111;
            padding: 1rem 0;
            text-align: center;
            border-top-left-radius: $cbr - 1;
            border-top-right-radius: $cbr - 1;
            
        }//end of section

        img {
            width: 100%;
            padding: 1rem;
        }

        p {
            padding: 1rem 2vw;
        }

        a {
            display: block;
            background-color: #888;
            color: #111;
            padding: 1rem 0;
            margin: 1rem 4vw;
            text-align: center;
            text-decoration: none;
            border-radius: $cbr;
        }
        a:hover {
            background-color: lighten(#888, 10%);
        }
    }//end of card

    div.card:hover img {
        animation: bounce 2s 1;
    }
    img {
        position: relative;
    }

    @keyframes bounce {
        0% {bottom: 0px; animation-timing-function: ease-out;}
        25% {bottom: 60px; animation-timing-function: ease-in;}
        50% {bottom: 0px; animation-timing-function: ease-out;}
        75% {bottom: 30px; animation-timing-function: ease-in;}
        100% {bottom: 0px;}
    }
}


/*----------- FOOTER --------------*/
div#footerWrapper {
     background-color: #bbbbbb;
}

footer {
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}