/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

main {
    margin: 2%;
    text-align: center;
    h1 {
        margin: 0;
        padding: 1rem;
        padding-left: 2%;
        background-color: lighten($color: $primaryColor, $amount: 10%); 
    }
    p {
        margin-bottom: 3rem;
    }
    div#weatherforecast {
        width: 100%;
        div {
            padding: .5rem;
            margin: 0 2% 4% 2%;
            background-color: lighten($color: $primaryColor, $amount: 5%);
        }
        span {
            padding: .5rem 2rem;
            font-size: 1.5rem;
            background-color: $primaryColor;
            width: 100%;
            margin: 0;
        }
        p {
            font-size: 1.25rem;
            margin-bottom: 0;
        }
    }
}

div#weatherforecast {
    display: grid;
    grid-template-columns: 1fr;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }