header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
div.cards {
        div {
            width: 25%;
        }
        div:nth-child(1) {
                background-size: auto;
        }
            
            div:nth-child(2) {
                background-size: auto;
            
            }
            
            div:nth-child(3) {
                background-size: auto;
            
            }
            
            div:nth-child(4) {
                background-size: auto;
            
            }
}


/*----------- FOOTER --------------*/
    
