


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}

    nav {
        background: #216fb8;
        background: -moz-linear-gradient(top,  #216fb8 0%, #003566 100%);
        background: -webkit-linear-gradient(top,  #216fb8 0%,#003566 100%);
        background: linear-gradient(to bottom,  #216fb8 0%,#003566 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216fb8', endColorstr='#003566',GradientType=0 );
        
            }

    nav ul.hide {
        display: block;
    }

    nav ul li {
        float: left;
    }

    nav button {
        display: none;
    }
    


/*----------- MAIN --------------*/
div.cards {

div {
    width: 50%;
}

div:nth-child(1) {
    background-size: 512px;
}

div:nth-child(2) {
    background-size: 512px;

}

div:nth-child(3) {
    background-size: 512px;

}

div:nth-child(4) {
    background-size: 512px;

}
}

/*----------- FOOTER --------------*/
    
