


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
div.cards {

div {
    width: 50%;
}

div:nth-child(1) {
    background-size: 512px;
}

div:nth-child(2) {
    background-size: 512px;

}

div:nth-child(3) {
    background-size: 512px;

}

div:nth-child(4) {
    background-size: 512px;

}
}

/*----------- FOOTER --------------*/
    
