header, nav, main, footer,div#hamburger {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/

#pageWrapper {
        display: grid;
        grid-template-areas: 
            "header"
            "navigation"
            "content"
            "footer";
        grid-template-columns: 100%;
    }
    header {grid-area: header;}
    nav {grid-area: navigation;}
    main {grid-area: content;}
    footer {grid-area: footer;}

/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav ul li {flex-basis: auto;}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
