


/*----------- BODY --------------*/

div#pageWrapper {
    grid-template-areas: 
        "header header"
        "navigation content"
        "footer footer";
    grid-template-columns: 150px auto
}

/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/

a.myjump {display: none;}
nav {
    height: auto;
}

/*----------- MAIN --------------*/

img.right{
    display: block;
    float: right;
    width: 31%;
    clear: both;
    margin: 1%;
}
img.left{
    display: block;
    float: left;
    width: 31%;
    clear: both;
    margin: 1%;
}

/*----------- FOOTER --------------*/
    
