header, nav, main, footer {
    max-width: 90rem;
    margin: auto;
}

nav {
    ul li {
        width: auto;
        a {
            padding: .6rem 1rem;
        }
    }
}

form label.sbs {
    padding: .4rem 0%;
}

main.animals div.cardDeck {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}