


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
h1 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

h2 {
    font-size: 1.3rem;
}


/*----------- NAVIGATION --------------*/
    // nav ul {margin-left: 2%;}
    // nav ul li {width: auto;}
    // nav ul li:first-child a {border-left: 1px solid darken($mainColor, 30%);}
    // nav ul li:last-child a {border-right: 1px solid darken($mainColor, 30%);}
    // nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
